/* @media screen and (max-width: 400px) {
  .firstSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/img3.jpg');
    background-size: cover;
    color: white;
  }

  .header {
    width: 100%;
    display: flex;
    padding: 25px;
    animation: slideDown 1s forwards;
    opacity: 1;
  }

  .logo {
    font-family: NanumBarunpen;
    font-size: 23px;
  }

  .introduceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    margin-top: 35px;
    animation: slideDown 1s forwards;
    opacity: 1;
  }

  .introduce {
    font-family: NotoSerifKR;
    font-size: 25px;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
} */
