/* Box Sizing Reset */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove default margin and padding for most elements */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, img, figure, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}

/* Apply a background to the body */
body {
  background: white;
}

/* Set default font family, size, and color */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

/* Set a base line-height */
body {
  line-height: 1.5;
}

/* Make images and embedded media responsive */
img, video, audio, object, embed, iframe {
  max-width: 100%;
}

/* Make lists appear without bullets or numbers */
ul, ol {
  list-style: none;
}

/* Reset form element styles */
input, select, textarea, button {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

/* Set anchor elements to not have underlines and to match body text color */
a {
  text-decoration: none;
  color: inherit;
}

/* Set table elements to collapse borders */
table {
  border-collapse: collapse;
}

/* Apply a more readable selection color */
::selection {
  background: #ffbf00;
  color: #000;
}
